<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.praybox">

    <!-- === Permission Kiblat Dari Bryan === -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- =================================== -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_jago_sholat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_jago_sholat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.frogobox.praybox.ui.activitiy.TentangKamiActivity" />

        <activity
            android:name="com.frogobox.praybox.ui.activitiy.MainActivity"
            android:theme="@style/AppThemeNoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_publisher_id" />

        <provider
            android:name="com.frogobox.praybox.source.local.DataProvider"
            android:authorities="com.frogobox.praybox"
            android:exported="false" />

    </application>

</manifest>