<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.frogobox.praybox">
    <!-- === Permission Kiblat Dari Bryan === -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ui.activitiy.DoaActivity"></activity>
        <activity android:name=".view.ui.activitiy.TataCaraActivity" />
        <activity android:name=".view.ui.activitiy.KiblatActivity" />
        <activity android:name=".view.ui.activitiy.AboutUsActivity" />
        <activity
            android:name=".view.ui.activitiy.MainActivity"
            android:theme="@style/AppThemeNoToolbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_publisher_id" />

        <provider
            android:name=".source.local.DataProvider"
            android:authorities="com.frogobox.praybox"
            android:exported="false" />
    </application>

</manifest>